{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img class="img-fluid circular" src="static/img/profile_photo.jpg">
        <p>I'm a Python Web-Developer with Front-End and Back-End expertise</p>
        <p>Here is a list of the Frameworks I've Used.</p>
        <ul>
          <li>Flask</li>
          <li>Bootstrap</li>
          <li>CSS</li>
          <li>HTML5</li>
          <li>Heroku</li>
          <li>Gunicorn</li>
          <li>SQL/Flask-SQLAlchemy</li>
        </ul>
        <p>My Expertise are not only restricted to web development but can also be applied in the field of data science and AI development</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}